*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --alpha:0
}

body{
    overflow: hidden;
}

.container{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: calc((100vh - 400px)/2);
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 2px solid black;
    transition: all ;
    background-color: rgba(0,0,0,0)
}

.buttons{
    width: 100vw;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.change{
    all:unset;
    background-color: cyan;
    color: black;
    border: 2px solid black;
    padding: 5px 12px;
    border-radius: 4px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-height:600px) {
    body{
        overflow-y: scroll;
    }
}
